.row {
    display: flex;
    flex-direction: row;
    justify-content: unset;
}

.header {
    margin-top: 10%;
    margin-left: 10%;
}

.homeSection {
    margin-right: 10px;
    cursor: pointer;
}

.helpSection {
    cursor: pointer;
}

.title {
    margin-left: 40%;
    align-items: center;
}

.span {
    font-weight: 800;
    padding-left: 20px;
}

.padding {
    padding-left: 40px;
}

.margin {
    margin-top: 10px;
}

.label {
    width: 100px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: green;
    color: #ffffff;
    font-weight: 800;
    border-radius: 10px;
}

.userName {
    font-size: 24px;
    font-weight: 800;
}

.progress {
    margin-left: 15%;
    padding-right: 150px;
    border-right: 2px solid gray;
}